@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300&display=swap');

* {
    box-sizing: border-box;
    /* wireframing border */
    border: 1px solid red;

    padding: 0;
    margin: 0;
    color: #ffff;
}

header,
main, 
footer {
    padding: 16px;
}

header {
    color: #5c1310;
    position: fixed;
}

main {
    min-height: 80vh;
}

footer {

}